<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Income</title>
</head>
<body>
    <form method="post">
        {% csrf_token %}
        
        <label> enter company income  </label><br>
        <input type="text" name="company_income"> <br><br>

        <label> enter total income</label> <br>
        <input type="text" name="total_income"><br><br>



        <input type="submit" value="confirm">

    </form>
</body>
</html>